<div class="row footer-background">
  <!-- <div class="col s12 l10 offset-l1">
    <p class="footer-title">Sign up for Space Cloud Releases and Updates</p>
    <p class="footer-description">Awesome product and community updates; no spam, we promise</p>
  </div>
  <form class="col l7 s10 offset-l1">
    <input id="subscribe-email" type="email" class="validate email-input" placeholder="Your E-mail address" />
    <div style="text-align: center;">
      <span class="subscribe-email-label body-text" style="color: #FF0000;display: none; font-size: 16px; font-family: 'Popins', sans-serif; margin-top: 8px;">Please enter a valid email!</span>
    </div>
  </form>
  <div class="col l3 s10 btn-sec">
    <button id="subscribe-btn" class="btn section-btn subscribe-btn">Subscribe<div id="loading" class="loading-btn"></div></button>
  </div> -->
  <div class="col s12">
    <p class="copyright-text">© Made with Love<span class="hide-on-med-and-down"> By Xone</span></p>
  </div>
</div>