<ul id="slide-out" class="sidenav">
  <div class="sidenav-style">
    <a href="/">
      <img src="/images/Xone white.png" alt="logo" class="sidenav-logo" width="45px">
    </a>
    <li><a href="/" class="sidenav-text-style">Home</a></li>
    <li><a href="/" class="sidenav-text-style">Learn</a></li>
    <!-- <li><a href="https://docs.space-cloud.io" class="sidenav-text-style">Docs</a></li> -->
    <!-- <li><a href="https://space-cloud.io/plans" class="sidenav-text-style">Plans</a></li> -->
    <!-- <li><a href="https://blog.space-cloud.io" class="sidenav-text-style">Blog</a></li>
    <li class="sidenav-text-style tryitout">Try Space Cloud!</li>
    <li><a href="/space-cloud/basics/setup/" class=" btn sidenav-btn">Get Started</a></li>
    <li class="community-style sidenav-text-style">Join the Community</li> -->
    <li>
      <div class="footer-icons valign-wrapper">
        <a href="https://join.slack.com/t/xone-world/shared_invite/zt-15qdo94k0-6lk6d5pQ6JFjZ8uWTRuWiw" target="_blank"><img src="/images/slack.png" height="45"></a>
      </div>
    </li>
  </div>
</ul>